@page "/customers/edit/{id:int}";
@using Whosales.Domain;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Customer edit</PageTitle>
<h1>Customer edit</h1>
<EditForm EditContext="editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-control">
        <label class="form-label" for="Name">Name</label>
        <InputText class="input-group" id="Name" @bind-Value="customer.Name"/><br />
    </div>
    <div class="form-control">
        <label class="form-label" for="Address">Address</label>
        <InputText class="input-group" id="Address" @bind-Value="customer.Address" /><br />
    </div>
    <div class="form-control">
        <label class="form-label" for="TelephoneNumber">TelephoneNumber</label>
        <InputText class="input-group" id="TelephoneNumber" @bind-Value="customer.TelephoneNumber" /><br />
    </div>

    <button type="submit" @onclick="CustomerEdit">Edit</button>
</EditForm>

@functions {
    [Parameter]
    public int Id { get; set; }

    private Customer customer { get; set; }
    private EditContext editContext;

    protected async override Task OnInitializedAsync()
    {
        customer = await Http.GetFromJsonAsync<Customer>($"api/customers/{Id}");
        editContext = new EditContext(customer);
    }

    private async Task CustomerEdit()
    {
        if (editContext.Validate())
        {
            await Http.PutAsJsonAsync($"api/customers/{Id}", customer);
            string message = "Customer was successfully edited";
            NavigationManager.NavigateTo($"/customers/successpage/{message}");
        }
    }

    private void ToEmployeeList()
    {
        NavigationManager.NavigateTo("/customers");
    }
}